email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
allowRepublish=true
registry=http://52.66.164.46:8081/repository/nodejsrepo/
//52.66.164.46:8081/repository/nodejsrepo/:_authToken=YWRtaW46a2lyYW4xNjQ4

