//registry.npmjs.org/:_authToken=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
email=suryakiran1648@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
registry.npmjs.org/:_auth=YWRtaW46a2lyYW4xNjQ4
allowRepublish=true
