email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
registry.npmjs.org/:_authToken="base64(YWRtaW46a2lyYW4xNjQ4)"
allowRepublish=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
registry=http://52.66.164.46:8081/repository/nodejsrepo/
//your-nexus-repo-url/repository/npm-group/:_authToken=YWRtaW46a2lyYW4xNjQ4

